
body {
  background-color: #f7f8fc;
}

form  {
  left: 50%;
    top: 80%;
    margin-left: -40%;
    position: absolute;
    margin-top: -45%;
} 

input {
	width: 100;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch1 input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #2196F3;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.switch3 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch3 input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider3:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider3 {
  background-color: #2296F3;
}

input:focus + .slider3 {
  box-shadow: 0 0 2px #2296F3;
}

input:checked + .slider3:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch4 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

input[type=Submit]{
  background-color: #2296F3;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 5px 2px;
  cursor: pointer;
}

 /* The sidebar menu */
 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #363740; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 



.form {
  width:1000px;
}
.promotionID
{
width:200px;
float: left;
}
.SalesDescription {
  width: 200px;
  float: left;
}
.SalesDiscountAmount {
  width: 200px;
  float: center;
}

.SalesBeginDate {
  width: 200px;
  float: center;
}

.SalesEndDate {
  width: 200px;
  float: center;
}

.SalesCode {
  width: 200px;
  float: left;
}

.salesRestrictionSwitch {
  width: 200px;
  float: center;
}

.salesRestrictionCount {
  width: 200px;
  float: left;
}

.customerRestrictionCount {
  width: 200px;
  float: center;
}

.customerRestrictionSwitch {
  width: 200px;
  float: center;
}
